<mat-card>
  <mat-card-content class="container" fxLayout fxLayout="column" fxLayoutGap="2%">
    <div fxLayout="row" fxLayoutGap="3%" fxL>
      <div fxFlex="40%">
        <mat-form-field class="full-width">
          <mat-label>Choose pair</mat-label>
          <mat-select  #pairselector  name="pair"
          (selectionChange)="togglePairs(pairselector.value)" [disabled]="isStreaming">
            @for (pair of pairs; track pair.symbol) {
            <mat-option [value]="pair.symbol">{{pair.symbol}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex>
        <button (click)="tokenRequest()" matRipple mat-stroked-button>
          Retry Token
        </button>
      </div>
      <div fxFlex>
        <button (click)="toggleStream()" mat-fab extended matRipple>
          <mat-icon *ngIf="!isStreaming">local_fire_department</mat-icon>
          <mat-icon *ngIf="isStreaming">fire_extinguisher</mat-icon>
          {{isStreaming ? 'Unsubscribe' : 'Subscribe'}}
        </button>
      </div>
    </div>

    <app-market-data [currentPair]="currentPair" [curPrice]="curPrice" [curTime]="curTime"/>

    <fieldset fxLayout="row" class="full-width">
      <legend>Live data for {{currentPair.symbol}} from websocket-api</legend>
      <div fxFlex>
        <div *ngIf="isStreaming" #livechart></div>
        <div *ngIf="!isStreaming" style="text-align: center;"><p><i>...NO DATA UNLESS SUBSCRIBED</i></p></div>
      </div>
    </fieldset>

    <app-history-chart [currentPair]="currentPair"/>

  </mat-card-content>
</mat-card>

